<!-- views/artist.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>ClubHub - Artist</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Artist</h1>
        <h3 class="panel-title"><%=djname%></h3>
      </div>
    </div>

    </br>

    <div class="panel-body">
        <form role="form" action="/artist" method="post">

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Your Name</span>
                <input type="text" name="djname" class="form-control" placeholder="DJ Name"
                       aria-describedby="basic-addon1">
            </div>
            <br>
            <br>
            <br>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Brief Bio</span>
                <!--<input type="text" name="bio" class="form-control" placeholder="This is a fake bio of an \n awesome DJ..."
                       aria-describedby="basic-addon1"> -->
            	<textarea name="bio" class="form-control" rows="6" placeholder="This is a fake bio of an awesome DJ..."></textarea>
            </div>
            <br>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Image Source</span>
                <input type="text" name="src" class="form-control" placeholder="~/User/path/to/pic.gif"
                       aria-describedby="basic-addon1">
            </div>
        </form>
    </div>
</div>

</body>
</html>

