<!-- views/artist.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>ClubHub - Artist</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Artist</h1>
        <h3 class="panel-title"><%=djname%></h3>
      </div>
    </div>

    </br>

    <p>
      <%=aboutme%>
      <!--This is a fake bio of an awesome DJ. He has worked all over
      and he is very experienced. He loves his job?-->
    </p>
</div>

</body>
</html>

