<!-- views/bio.ejs -->
<!DOCTYPE html>
<html>
<body>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">DJ Bio</h1>
    <h3 class="panel-title"><%=djname%></h3>
  </div>
</div>

</br>

<p>
  <%=aboutme%>
  <!--This is a fake bio of an awesome DJ. He has worked all over
  and he is very experienced. He loves his job?-->
</p>

</body>
</html>

