<!DOCTYPE html>
<html>
<head>
    <title>ClubHub</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Join an Event!</h1>

<form action="/eventcheck" method="post">
    <span>Code: </span><input type="text" name="eventcode"> <br>
    <input type="submit">
</form>
<a href="/signup">Sign up</a>
</body>
</html>
