<!-- views/hot.ejs -->
<!DOCTYPE html>
<html>
<head>
  	<title>ClubHub - Hot</title>
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  	<style>
    	body 		{ padding-top:80px; }
  	</style>
  	</head>
<body>
<div class="container">
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Hot</h3>
  		</div>
		<div class="panel-body">
			<div>
				<% for (var x = 0; x < songarray.length; x++) { %>
					<ul class="list-group">
  						<li class="list-group-item">
    						<span class="badge"><%=upvotecount%></span>
    						<span class="badge"><span class="glyphicon glyphicon-plus-sign"></span></span>
    							songarray[x]; <!-- this is the artist and name? -->
  						</li>
					</ul>
				<% } %>
			</div>
		</div>
	</div>
</div>
</body>
</html>
