<!-- views/locator.ejs -->
<!DOCTYPE html>
<html>
<head>
  	<title>ClubHub - Login</title>
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  	<style>
    	body 		{ padding-top:80px; }
  	</style>
</head>
<body>
<div class="container">
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Locator</h3>
 		</div>
	    <div class="panel-body">
			    <form role="form" action="/locator" method="post">
				<div class="input-group">
  					<span class="input-group-addon" id="basic-addon1">Event</span>
  					<input type="text" name="eventcode" class="form-control" placeholder="Event Name" aria-describedby="basic-addon1">
				</div>
				<br>
				<input class="btn btn-primary" type="submit" value="Join">
        		</form>
		</div>
	</div>
</div>

</body>
</html>
