<!-- views/nowplaying.ejs -->
<!DOCTYPE html>
<html>
<body>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Now Playing</h1>
  </div>
</div>


<div>
	<img class="media-object" src="<%=albumcover%>" alt="Failed">
</div>

</br>

<div>
  <button type="button" class="btn btn-default" >Love it!</button>
  <button type="button" class="btn btn-default" >Hate it!</button>
</div>

</body>
</html>
