<!-- views/nowplaying.ejs -->
<!DOCTYPE html>
<html>
<head>
  	<title>ClubHub - Now Playing</title>
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  	<style>
    	body 		{ padding-top:80px; }
  	</style>
  	</head?
<body>
<div class="container">
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Now Playing</h3>
  		</div>
		<div class="panel-body">
						</br>
			<div>
				<img class="media-object" src="<%=albumcover%>" alt="Failed">
			</div>
						</br>
			<div>
  				<button type="button" class="btn btn-default" >Love it!</button>
  				<button type="button" class="btn btn-default" >Hate it!</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>
