<!-- views/signup.ejs -->
<!DOCTYPE html>
<html>
<body>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Sign Up</h1>
  </div>
</div>


<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Name</span>
  <input type="text" name="name" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Username</span>
  <input type="text" name="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Password</span>
  <input type="text"  name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Confirm Password</span>
  <input type="text" name="password-confirm" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
</div>

</br>

<div>
  <button type="button" class="btn btn-default">Sign Up</button>
</div>

</body>
</html>
