<!-- views/signup.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>ClubHub - Signup</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sign Up</h3>
        </div>
    </div>

    <div class="panel-body">
        <form role="form" action="/signup" method="post">

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Username</span>
                <input type="text" name="username" class="form-control" placeholder="Username"
                       aria-describedby="basic-addon1">
            </div>
            <br>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Password</span>
                <input type="password" name="password" class="form-control" placeholder="Password"
                       aria-describedby="basic-addon1">
            </div>
            <br>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Confirm Password</span>
                <input type="password" name="password-confirm" class="form-control" placeholder="Password"
                       aria-describedby="basic-addon1">
            </div>

            </br>

            <div>
                <input type="submit" class="btn btn-info" value="Sign Up">
            </div>
        </form>
    </div>
</div>
</body>
</html>
