<!-- views/signup.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <title>ClubHub - Tabs</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <!-- load fontawesome -->
        <style>
            body {
                padding-top: 80px;
            }
        </style>
    </head>
    <body>
    <div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            Content will be dynamically added here.
        </div>
        <div class="panel-footer">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">
                  <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-cd" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
    </div>
    </body>
</html>